[Application Options]
## network option
# mainnet=1
# testnet=1
# signet=1
# simnet=1
testnet=1
## port option
## for testnet 18555 18556
## for mainnet 8333 8334
## for simnet 18333 18334
## for signet 38333 38334
listen=:18555
rpclisten=:18556
## password
rpcpass=admin
rpcuser=admin
## others useful option
notls=true
addrindex=false
txindex=false
debuglevel=info
## connect option
## if the speed of block sync is too slow, go to
## https://bitnodes.io/nodes/, and use the ip to replace follows
#connect=81.69.176.125
#connect=103.235.230.204
#connect=124.222.123.238
